<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ExpressJS Starter Project</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css">
  
</head>
<body>
    <div id="home-container">  
        <a id = "home-a" href="/login" >Login</a><br><br><br>
        <a id = "home-a" href="/register" >Register</a>
    </div>
</body>
</html>
