<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Questionnaire</title>
    <link rel="stylesheet" href="/styles/styles2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="question-container">
      <h1>Tell us more about you</h1>
      <p id="question"></p>
      <form id="options-form" method="get" action="/">
      <input id="submit" type="submit" value="Submit" disabled>
      </form>
    </div>
    <script type="module" src="/script/questionaire2.js"></script>
</body>
</html>